*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table{
    width: 100%;
    border: 1px solid darkgray;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}
.table tr {
    background-color: rgb(241, 240, 237);
    border: 2px solid rgb(250, 250, 247);
}
.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.table thead th{
    text-transform: uppercase;
    background-color: rgb(76, 230, 230);
}
.table tbody tr:hover{
    background-color: rgb(150, 146, 146);
}
.table tbody td:hover{
    background-color: rgb(117, 114, 114);
}
@media screen and (max-width: 600px){
    .table{
        border: 0px;
    }
    .table thead{
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td{
        font-size: 12px;
    }
    .table td{
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table td:last-child{
        border-bottom: 0px;
    }
    .table td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}